@import "./normalize.css";

:root {
    --color-body: #000;
    --color-accent: rgb(255, 222, 131);
    --color-background: hsl(6,  100%, 69%);
    --color-background-alt: #00a8a0;
    --color-heading: #ebebeb;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: inter, sans-serif;
    color: var(--color-body);
    font-size: 2.2rem;
    line-height: 1.4;
    background-color: var(--color-background);
}

h1,
h2,
h3 {
    color: var(--color-heading);
    text-shadow: 1px 1px var(--color-body);
}

h1 {
    margin: 2rem 0 2rem;
    font-size: 4rem;
    line-height: 1.2;
}

h2 {
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
    margin: 2rem 0 1rem;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: var(--color-heading);
}

nav {
    display: flex;
    align-items: center;
    gap: min(1rem);
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

strong {
    color: var(--color-body);
}

.block {
    padding: 0 10px 0 10px;
}

.block--border {
    border-bottom: var(--color-heading) solid 5px;
}

.block--diagonal {
    padding-bottom: 20px;
    padding-top: 20px;
    clip-path: polygon(0% 20px, 100% 0%, 100% calc(100% - 20px), 0% 100%);
}

.block--diagonal--border {
    padding-bottom: 6px;
    padding-top: 6px;
    clip-path: polygon(0% 20px, 100% 0%, 100% calc(100% - 20px), 0% 100%);
    background-color: var(--color-body);
}

.block--alt {
    background-color: var(--color-background-alt);
}

body .block--alt {
    color: var(--color-body);
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.nav__company {
    font-size: 3rem;
}

.hero {
    margin-bottom: 4rem;
}

.hero__text {
    text-align: center;
}

.info__text {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.method-circle {
    margin: auto;
    margin-bottom: 2rem;
    width: 355px;
    height: 355px;
}

.row {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
}

.grid2x5 {
    grid-template-columns: repeat(5, 55px);
    justify-items: center;
    column-gap: 20px;
}

.grid5x1 {
    row-gap: 2rem;
}

.progression-indicator {
    margin-bottom: 1rem;
}

.text-box {
    font-size: .85rem;
    align-content: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2px; 
    width:  60px;
    height: 80px;
    background: var(--color-heading);
    border: var(--color-body) solid 3px;
    border-radius: 10px;
}

.text-box-arrow {
    width: 0;
    height: 0;
    border-left:  15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--color-body);
}

.circle {
    background-color: var(--color-heading);
    border: var(--color-body) solid 3px;
    border-radius: 50%;
    padding: 5px;
    align-content: center;
    text-align: center;
}

.circle--large {
    width: 85px;
    min-width: 85px;
    height: 85px;
}

.circle--medium {
    width: 50px;
    min-width: 50px;
    height: 50px;
}

.circle--small {
    width: 35px;
    max-width: 35px;
    height: 35px;
}

.circle--side {
    margin-top: 105px;
}

.circle--large p {
    font-size: 1.2rem;
}

.circle--small p {
    font-size: 1.5rem;
}

.arrow {
    --t: 45%;
    --h: 40%;
    aspect-ratio: 3/2;
    width: 30px;
    height: 20px;
    background: var(--color-accent);
    clip-path: polygon(0 calc(50% - var(--t)/2),calc(100% - var(--h)) calc(50% - var(--t)/2),calc(100% - var(--h)) 0,100% 50%,calc(100% - var(--h)) 100%,calc(100% - var(--h)) calc(50% + var(--t)/2),0 calc(50% + var(--t)/2));
}

.arrow--straight {
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
}

.arrow--top {
    margin: 85px 8px 0px 8px;
}

.arrow--middle {
    margin: 20px 85px 20px 85px;
}

.arrow--bottom {
    margin: 35px 15px 0px 15px;
}

#arrow1 {
    transform: rotate(320deg);
}

#arrow2 {
    transform: rotate(40deg);
}

#arrow3 {
    transform: rotate(250deg);
}

#arrow4 {
    transform: rotate(110deg);
}

#arrow5 {
    transform: rotate(180deg);
}

.media {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.icon {
    width: 100%;
    fill: var(--color-heading);
}

.footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.footer__name {
    color: var(--color-heading);
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.email {
    text-decoration: underline;
}

.list__item {
    margin-bottom: 2rem;
    text-decoration: underline;
}

.contact {
    height: 100vh;
}

.contact__text {
    font-size: 1.9rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.contact__footer {
    text-align: center;
    color: var(--color-heading);
    margin-top: 5rem;
}